# Question 1

In [2]:
import mysql.connector
database = mysql.connector.connect(host="localhost", user="root", passwd="123456789")
cursor = database.cursor()
cursor.execute("create database Bank")  # I created the our database.
cursor.execute("use Bank")              # I selected the database that i will make operations on.

# Question 2

In [3]:
# customer_id is our primary key. Because it must be unique.It will increase itself automatically.
# name represents customer's name whose length can be max 50.
# lastname represents customer's surname whose length can be max 50.
# registration_date represents date when customer registered into bank.
# score represents customer's score which is integer
# I specified customer_id as the primary key of table of Customer.

customer_table ="create table Customer(" \
                "customer_id int AUTO_INCREMENT, " \
                "name varchar(50)," \
                "lastname varchar(50)," \
                "registration_date date," \
                "score int," \
                "Primary Key(customer_id))"


cursor.execute(customer_table)

# branch_id is our primary key. Because it must be unique.It will increase itself automatically.
# branch_name represents branch's name whose length can be max 50.
# cash_hold represents amount of cash that bank holds in that branch.
# foundation_date represents date when that branch has been found.
# liability is what the bank owes to others.Its data type is float.
# I specified branch_id as the primary key of table of Branch.

branch_table = "create table Branch(" \
               "branch_id int AUTO_INCREMENT," \
               "branch_name varchar(50)," \
               "cash_hold float," \
               "foundation_date date," \
               "liability float," \
               "Primary Key(branch_id))"

cursor.execute(branch_table)

# loan_id is our primary key. Because it must be unique.It will increase itself automatically.
# customerId represents the customer who took out a loan.It is also foreign key.
# branchId represents the branch which loan has been took out.It is also foreign key.
# amount represents the amount of loan.
# I specified customer_id as the one of foreign keys of table of Loan.
# I specified branch_id as the one of foreign keys of table of Loan.

loan_table = "create table Loan(" \
             "loan_id int AUTO_INCREMENT," \
             "customerId int," \
             "branchId int," \
             "amount int," \
             "Foreign Key(customerId) references Customer(customer_id)," \
             "Foreign Key(branchId) references Branch(branch_id)," \
             "Primary Key(loan_id))" \



cursor.execute(loan_table)

# Question 3

In [4]:
# 5 customers
customer_query = "insert into Customer(name,lastname,registration_date,score) values(%s,%s,%s,%s)"
customers =[("Kazım","Tulgaroğlu","2020-10-25",100),
            ("Hugh","Jackman","2019-10-24",125),
            ("Steve","Carell","2018-01-04",1000),
            ("Keira","Knightley","2021-11-24",250),
            ("Florence","Pugh","2020-08-20",585)]

cursor.executemany(customer_query,customers)

# 8 Branches
branch_query = "insert into Branch(branch_name,cash_hold,foundation_date,liability) values(%s,%s,%s,%s)"
branches =[ ("California",20000,"2001-05-05",1.88),
            ("Manchester",35000,"2001-06-23",1.78),
            ("New York",20000,"1999-11-25",1.68),
            ("Istanbul",53542,"1999-01-05",1.5),
            ("Berlin",100000,"1997-07-23",0.25),
            ("Amsterdam",5000,"1997-10-24",0.75),
            ("Paris",7000,"2003-10-24",0.85),
            ("London",18000,"2003-09-01",2)]
cursor.executemany(branch_query,branches)

# 9 Loans
loan_query = "insert into Loan(customerId,branchId,amount) values(%s,%s,%s)"
loans =[    (1,2,28000),
            (2,1,12456),
            (3,3,100000),
            (4,2,4500),
            (3,4,2364),
            (4,7,7520),
            (5,8,2364),
            (4,5,6314),
            (5,6,1300)]
cursor.executemany(loan_query,loans)


database.commit()  # It is used to commit the changes made to the table

# Let's see whether records are saved into database or not

In [5]:
print("Customers")
cursor.execute("Select * from Customer")
customers = cursor.fetchall()
for customer in customers:
    print(customer)

print("Branches")
cursor.execute("Select * from Branch")
branches = cursor.fetchall()
for branch in branches:
    print(branch)

print("Loans")
cursor.execute("Select * from Loan")
loans = cursor.fetchall()
for loan in loans:
    print(loan)

Customers
(1, 'Kazım', 'Tulgaroğlu', datetime.date(2020, 10, 25), 100)
(2, 'Hugh', 'Jackman', datetime.date(2019, 10, 24), 125)
(3, 'Steve', 'Carell', datetime.date(2018, 1, 4), 1000)
(4, 'Keira', 'Knightley', datetime.date(2021, 11, 24), 250)
(5, 'Florence', 'Pugh', datetime.date(2020, 8, 20), 585)
Branches
(1, 'California', 20000.0, datetime.date(2001, 5, 5), 1.88)
(2, 'Manchester', 35000.0, datetime.date(2001, 6, 23), 1.78)
(3, 'New York', 20000.0, datetime.date(1999, 11, 25), 1.68)
(4, 'Istanbul', 53542.0, datetime.date(1999, 1, 5), 1.5)
(5, 'Berlin', 100000.0, datetime.date(1997, 7, 23), 0.25)
(6, 'Amsterdam', 5000.0, datetime.date(1997, 10, 24), 0.75)
(7, 'Paris', 7000.0, datetime.date(2003, 10, 24), 0.85)
(8, 'London', 18000.0, datetime.date(2003, 9, 1), 2.0)
Loans
(1, 1, 2, 28000)
(2, 2, 1, 12456)
(3, 3, 3, 100000)
(4, 4, 2, 4500)
(5, 3, 4, 2364)
(6, 4, 7, 7520)
(7, 5, 8, 2364)
(8, 4, 5, 6314)
(9, 5, 6, 1300)

# Question 4.1

In [6]:
# I collected the branches whose liabilities is higher than 1.5 in a table called PRESTIGIOUS
prestigious_query = "create table PRESTIGIOUS as (select * from Branch where liability > 1.5)"
cursor.execute(prestigious_query)
cursor.execute("Select * from PRESTIGIOUS")
prestigious_branches = cursor.fetchall()
for prestigious_branch in prestigious_branches:
    print(prestigious_branch)

(1, 'California', 20000.0, datetime.date(2001, 5, 5), 1.88)
(2, 'Manchester', 35000.0, datetime.date(2001, 6, 23), 1.78)
(3, 'New York', 20000.0, datetime.date(1999, 11, 25), 1.68)
(8, 'London', 18000.0, datetime.date(2003, 9, 1), 2.0)

# Question 4.2

In [7]:
# I collected the branches whose cash_hold is higher than 50000 in a table called MINI
mini_query = "create table MINI as (select * from Branch where cash_hold > 50000)"
cursor.execute(mini_query)
cursor.execute("Select * from MINI")
mini_branches = cursor.fetchall()
for mini_branch in mini_branches:
    print(mini_branch)

(4, 'Istanbul', 53542.0, datetime.date(1999, 1, 5), 1.5)
(5, 'Berlin', 100000.0, datetime.date(1997, 7, 23), 0.25)

# Question 4.3

In [8]:
# I collected names and liabilities of  prestigious branches in a table called RESULT1
result1_query = "create table RESULT1 as (select branch_name,liability from PRESTIGIOUS)"
cursor.execute(result1_query)
cursor.execute("Select * from RESULT1")
result1_records = cursor.fetchall()
for result1_record in result1_records:
    print(result1_record)

('California', 1.88)
('Manchester', 1.78)
('New York', 1.68)
('London', 2.0)

# Question 4.4

In [9]:
# I unified the tables of MINI and PRESTIGIOUS.
# After that , i collected the branch_names and liabilities in a table called RESULT2
result2_query = "create table RESULT2 as (SELECT branch_name,liability FROM MINI UNION SELECT branch_name,liability FROM PRESTIGIOUS)"
cursor.execute(result2_query)
cursor.execute("Select * from RESULT2")
result2_records = cursor.fetchall()
for result2_record in result2_records:
    print(result2_record)

('Istanbul', 1.5)
('Berlin', 0.25)
('California', 1.88)
('Manchester', 1.78)
('New York', 1.68)
('London', 2.0)

# Question 4.5

In [10]:
# It is a cartesian product operations.Number of records will be 45 which is product of number of records of customers and number of records of loans.
result3_query = "create table RESULT3 as (SELECT * from Customer cross join Loan)"
cursor.execute(result3_query)
cursor.execute("Select * from RESULT3")
result3_records = cursor.fetchall()
for result3_record in result3_records:
    print(result3_record)

(5, 'Florence', 'Pugh', datetime.date(2020, 8, 20), 585, 1, 1, 2, 28000)
(4, 'Keira', 'Knightley', datetime.date(2021, 11, 24), 250, 1, 1, 2, 28000)
(3, 'Steve', 'Carell', datetime.date(2018, 1, 4), 1000, 1, 1, 2, 28000)
(2, 'Hugh', 'Jackman', datetime.date(2019, 10, 24), 125, 1, 1, 2, 28000)
(1, 'Kazım', 'Tulgaroğlu', datetime.date(2020, 10, 25), 100, 1, 1, 2, 28000)
(5, 'Florence', 'Pugh', datetime.date(2020, 8, 20), 585, 2, 2, 1, 12456)
(4, 'Keira', 'Knightley', datetime.date(2021, 11, 24), 250, 2, 2, 1, 12456)
(3, 'Steve', 'Carell', datetime.date(2018, 1, 4), 1000, 2, 2, 1, 12456)
(2, 'Hugh', 'Jackman', datetime.date(2019, 10, 24), 125, 2, 2, 1, 12456)
(1, 'Kazım', 'Tulgaroğlu', datetime.date(2020, 10, 25), 100, 2, 2, 1, 12456)
(5, 'Florence', 'Pugh', datetime.date(2020, 8, 20), 585, 3, 3, 3, 100000)
(4, 'Keira', 'Knightley', datetime.date(2021, 11, 24), 250, 3, 3, 3, 100000)
(3, 'Steve', 'Carell', datetime.date(2018, 1, 4), 1000, 3, 3, 3, 100000)
(2, 'Hugh', 'Jackman', datetime.date(2019, 10, 24), 125, 3, 3, 3, 100000)
(1, 'Kazım', 'Tulgaroğlu', datetime.date(2020, 10, 25), 100, 3, 3, 3, 100000)
(5, 'Florence', 'Pugh', datetime.date(2020, 8, 20), 585, 4, 4, 2, 4500)
(4, 'Keira', 'Knightley', datetime.date(2021, 11, 24), 250, 4, 4, 2, 4500)
(3, 'Steve', 'Carell', datetime.date(2018, 1, 4), 1000, 4, 4, 2, 4500)
(2, 'Hugh', 'Jackman', datetime.date(2019, 10, 24), 125, 4, 4, 2, 4500)
(1, 'Kazım', 'Tulgaroğlu', datetime.date(2020, 10, 25), 100, 4, 4, 2, 4500)
(5, 'Florence', 'Pugh', datetime.date(2020, 8, 20), 585, 5, 3, 4, 2364)
(4, 'Keira', 'Knightley', datetime.date(2021, 11, 24), 250, 5, 3, 4, 2364)
(3, 'Steve', 'Carell', datetime.date(2018, 1, 4), 1000, 5, 3, 4, 2364)
(2, 'Hugh', 'Jackman', datetime.date(2019, 10, 24), 125, 5, 3, 4, 2364)
(1, 'Kazım', 'Tulgaroğlu', datetime.date(2020, 10, 25), 100, 5, 3, 4, 2364)
(5, 'Florence', 'Pugh', datetime.date(2020, 8, 20), 585, 6, 4, 7, 7520)
(4, 'Keira', 'Knightley', datetime.date(2021, 11, 24), 250, 6, 4, 7, 7520)
(3, 'Steve', 'Carell', datetime.date(2018, 1, 4), 1000, 6, 4, 7, 7520)
(2, 'Hugh', 'Jackman', datetime.date(2019, 10, 24), 125, 6, 4, 7, 7520)
(1, 'Kazım', 'Tulgaroğlu', datetime.date(2020, 10, 25), 100, 6, 4, 7, 7520)
(5, 'Florence', 'Pugh', datetime.date(2020, 8, 20), 585, 7, 5, 8, 2364)
(4, 'Keira', 'Knightley', datetime.date(2021, 11, 24), 250, 7, 5, 8, 2364)
(3, 'Steve', 'Carell', datetime.date(2018, 1, 4), 1000, 7, 5, 8, 2364)
(2, 'Hugh', 'Jackman', datetime.date(2019, 10, 24), 125, 7, 5, 8, 2364)
(1, 'Kazım', 'Tulgaroğlu', datetime.date(2020, 10, 25), 100, 7, 5, 8, 2364)
(5, 'Florence', 'Pugh', datetime.date(2020, 8, 20), 585, 8, 4, 5, 6314)
(4, 'Keira', 'Knightley', datetime.date(2021, 11, 24), 250, 8, 4, 5, 6314)
(3, 'Steve', 'Carell', datetime.date(2018, 1, 4), 1000, 8, 4, 5, 6314)
(2, 'Hugh', 'Jackman', datetime.date(2019, 10, 24), 125, 8, 4, 5, 6314)
(1, 'Kazım', 'Tulgaroğlu', datetime.date(2020, 10, 25), 100, 8, 4, 5, 6314)
(5, 'Florence', 'Pugh', datetime.date(2020, 8, 20), 585, 9, 5, 6, 1300)
(4, 'Keira', 'Knightley', datetime.date(2021, 11, 24), 250, 9, 5, 6, 1300)
(3, 'Steve', 'Carell', datetime.date(2018, 1, 4), 1000, 9, 5, 6, 1300)
(2, 'Hugh', 'Jackman', datetime.date(2019, 10, 24), 125, 9, 5, 6, 1300)
(1, 'Kazım', 'Tulgaroğlu', datetime.date(2020, 10, 25), 100, 9, 5, 6, 1300)

# Question 4.6

In [11]:
# result4 is a table that shows loans that has been got from prestigious branches
result4_query = "create table RESULT4 as (SELECT * from PRESTIGIOUS inner join Loan on PRESTIGIOUS.branch_id = Loan.branchId )"
cursor.execute(result4_query)
cursor.execute("Select * from RESULT4")
result4_records = cursor.fetchall()
for result4_record in result4_records:
    print(result4_record)

(1, 'California', 20000.0, datetime.date(2001, 5, 5), 1.88, 2, 2, 1, 12456)
(2, 'Manchester', 35000.0, datetime.date(2001, 6, 23), 1.78, 1, 1, 2, 28000)
(2, 'Manchester', 35000.0, datetime.date(2001, 6, 23), 1.78, 4, 4, 2, 4500)
(3, 'New York', 20000.0, datetime.date(1999, 11, 25), 1.68, 3, 3, 3, 100000)
(8, 'London', 18000.0, datetime.date(2003, 9, 1), 2.0, 7, 5, 8, 2364)

 # Question 5

In [12]:
# Non-prestigious branches are the branches whose liability is lower than 1.5.Firstly i collected them in a temporary table.
NonPRESTIGIOUS_table = "create temporary table Non_PRESTIGIOUS as (select * from Branch where liability < 1.5)"
cursor.execute(NonPRESTIGIOUS_table)
# I collected loans taken from non-prestigious branches in temporary table.
loans_from_NonPRESTIGIOUS_branches = "create temporary table Non_PRESTIGIOUS_Loans as (select customerId,amount,branch_name from Loan inner join Non_PRESTIGIOUS on Loan.branchId = Non_PRESTIGIOUS.branch_id)"
cursor.execute(loans_from_NonPRESTIGIOUS_branches)
# lastly, i got the informations about the customers who got those loans.
customers_from_NonPRESTIGIOUS_branches = "select name,lastname,amount,branch_name from Customer inner join Non_PRESTIGIOUS_Loans on Customer.customer_id = Non_PRESTIGIOUS_Loans.customerId"
cursor.execute(customers_from_NonPRESTIGIOUS_branches)
rows = cursor.fetchall()

for row in rows:
   print(row[0]+" "+row[1]+" borrowed  "+str(row[2])+" $ from branch of "+row[3])

Keira Knightley borrowed  6314 $ from branch of Berlin
Florence Pugh borrowed  1300 $ from branch of Amsterdam
Keira Knightley borrowed  7520 $ from branch of Paris

 # Question 6

In [13]:
# I concatenated tables of loan and branch using INNER JOIN.
cursor.execute("create temporary table loans_and_dates as (select Loan.amount ,year(Branch.foundation_date) as year from Loan inner join Branch on Loan.branchId = Branch.branch_id)")
# I added up the amounts with respect to year.
cursor.execute(" select year,sum(amount) as totalAmount from loans_and_dates group by year")
rows = cursor.fetchall()

for row in rows:
    print("The total loan amount for the banks founded in "+str(row[0])+" is "+str(row[1])+" $.")

The total loan amount for the banks founded in 2001 is 44956 $.
The total loan amount for the banks founded in 1999 is 102364 $.
The total loan amount for the banks founded in 1997 is 7614 $.
The total loan amount for the banks founded in 2003 is 9884 $.